CACHE/*
.cache
.cache/*

.idea
.idea/*
*.log
*.pot
*.pyc
*.pyo
geoq/local_settings.py
local_settings.py
dev-geoq-django
dev-geoq-django/*
*.DS_Store
*.swp
*~
geoq.komodoproject
workcell_log.txt

start_geoq.sh
runGeo.sh

start.sh
