<ul class="statlist pull-right">
    <li title="{{ object.job.project.name }}">
        <i class="icon-briefcase"></i>
        <a href="{{ object.job.project.get_absolute_url }}">{{ object.job.project.name }}</a>
    </li>
    <li title="This AOI is {{ object.status }}">
        <i class="icon-th"></i>
        {% if object.status == 'In work' %}
            {% ifequal object.analyst request.user %}You are{% else %}{{ object.analyst }} is{% endifequal%} on it.
        {% else %}
        {{ object.status }}
        {% endif %}
    </li>
    {% if object.status == 'In work' %}
    {% if 'accounts.change_aoi' in request.base_perms %}
    <li title="Unassign this AOI">
        <i class="icon-circle-arrow-down"></i>
        <a href="">Unassign</a>
    </li>
    {% endif %}
    {% endif %}
    {% if 'accounts.delete_aoi' in request.base_perms %}
    <li title="Delete this AOI">
        <i class="icon-trash"></i>
        <a href="{% url 'aoi-delete' object.id %}">Delete</a>
    </li>
    {% endif %}
</ul>