
<form method="post" action="">
    {% csrf_token %}
    {% load object_class %}

    <div class="span6" style="margin-left: 0;" id="first_column">
    {% for field in form %}
        <dl class="form">
            {%  if field.field.widget|object_class == "CheckboxInput" %}

                {% if field.errors %}
                    <div class="control-group error">
                        <div class="controls">
                            <dt><label><b>{{ field.label }}</b></label>  {{ field|default:"Field" }}</dt>

                            <span class="help-inline">{{ field.errors }}</span>
                        </div>
                    </div>
                {% else %}
                    <dt>
                        <label>{{ field.label|default:"Field" }}  {{ field|default:"Field" }}</label>
                    </dt>
                    <dd>
                          <span class="help-block muted">
                              <small>{{ field.help_text|default:"" }}</small>
                          </span>
                    </dd>
                {% endif %}

            {% else %}


                <dt>
                    <label>{{ field.label|default:"" }}</label>
                </dt>
                <dd>
                    {% if field.errors %}
                        <div class="control-group error">
                            <div class="controls">
                                {{ field|default:"Field" }}
                                <span class="help-inline">{{ field.errors|default:"" }}</span>
                            </div>
                        </div>
                    {% else %}
                        {{ field|default:"Field" }}<span class="help-block muted"><small>{{ field.help_text|default:"" }}</small></span>
                    {% endif %}
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
        <div class="checkboxHolder">


        </div>
    </div>


    <div class="span6" style="margin-left: 0;" id="second_column">
    </div>


    <input class="btn btn-success" type="submit" value="Save" data-role="button" />
    {% block extra_buttons%}{% endblock %}
</form>

<script>
    $(document).ready(function(){
        if (window.location.href.indexOf("export") != -1) {

            $(".checkboxHolder").append(" <label for='exportWorkcell' name='Workcell'>Import Workcells</label>");
            $(".checkboxHolder").append(" <input type='checkbox' id='exportWorkcell' name='Workcell'>");
            $(".formHeader").html("<h2> Export Job </h2>")
        }
        //Move Select boxes into the second column and make them bigger
        var $sels=$('select[multiple="multiple"]');
        var $first_column = $('#first_column');
        var $second_column = $('#second_column');

        //Select the newest map by default if none is selected
        var $map = $('[name="map"]');
        if ($map.length) {
            var mapSelected = false;
            _.each($map.children(),function(map_item){
                if ($(map_item).attr('selected') == "selected") {
                    mapSelected = true;
                }
            });

            if (!mapSelected) {
                $map.children().last().attr('selected', true);
            }
        }

        $('input, select, textarea').css('width','80%');
        $('#exportWorkcell').css('width', '30%');

        //If select boxes are here, make them bigger and order them alphabetically
        if ($sels.length) {
            $sels.css('height','170px');
            $sels.parent().parent().appendTo($second_column);

            _.each($sels,function($sel){
                var optionList = $($sel).find('option');

                //Get a list of all that were already selected
                var selectedItems = [];
                _.each(optionList,function(opt){
                    if ($(opt).attr('selected')){
                        selectedItems.push(opt);
                    }
                });

                //Sort them alphabetically
                optionList.sort(function(a,b){
                    var at = $(a).text().toLowerCase(), bt = $(b).text().toLowerCase();
                    return (at > bt)?1:((at < bt)?-1:0);
                });
                $($sel).html(optionList);

                //Reset all that were selected
                optionList = $($sel).find('option');
                _.each(optionList,function(opt){
                    _.each(selectedItems,function(selOpt){
                        if ($(opt).val() == $(selOpt).val()){
                            $(opt).attr('selected','selected');
                        }
                    });
                });


            });

        } else {
            $second_column.remove();
            $first_column.removeClass('span6').addClass('span12');
        }
    });

    function getParameterByName(name) {
       var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
       return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    // $(function() {
        $('#id_editor').change( function() {
            if ($('#id_editor option:selected').val() === 'geoq') {
                $('#id_editable_layer').closest('dl').hide();
            } else {
                $('#id_editable_layer').closest('dl').show();
            }
        });

    $('#id_editable_layer').closest('dl').hide();
    // });
</script>