        {% if request.user != first_object.analyst %}
        {% if request.user.id %}
        <li>
            <!-- h3>
                <i class="icon-1x pull-left list-icon"></i>
                <span class="title"><a href="{% url 'job-next-aoi' object.id%}">Assign me an Work Cell</a></span>
            </h3 -->
            <span class="title"></span><a href="{% url 'job-next-aoi' object.id%}" class="btn btn-large btn-primary pull-left">
                Assign me a Workcell
            </a></span>
        </li>
        {% endif %}
        {% endif %}