<ul class="statlist pull-right">
    <li title="Contributors">
        <i class="icon-user"></i>
        {{ object.user_count|default:0 }}
    </li>
    <li title="Workcells">
        <i class="icon-th"></i>
        {{ object.aoi_count|default:0 }}
    </li>
    <li title="This job is {{ object.active }}">
        <i class="icon-check"></i>
        {% if object.active %}
            <span style="color:green">Active</span>
        {% else %}
            <span style="color:red">Archived</span>
        {% endif %}
    </li>
</ul>
<ul class="statlist pull-right" style="clear:right">
    <li>{{ object.aoi_counts_html|safe }}</li>
</ul>

