    <table>
        {% geoserver_job_link object.id "wfs" as geoserver_job_wfs %}
        {% geoserver_job_link object.id "kml" as geoserver_job_kml %}
        {% if geoserver_job_wfs %}
        <tr>
            <td><b>KML:</b></td>
            <td><a href="{{geoserver_job_kml}}">GeoServer Link</a></td>
        </tr>
        <tr>
            <td><b>WFS URL:</b></td>
            <td>{{geoserver_job_wfs}}</td>
        </tr>
        {%  endif %}
        <tr>
            <td><b>Google Earth:</b></td>
            <td><a href="{% url 'kml-job' object.id %}" title="Best for use in other programs such as the Event Pages">KML Link</a> ||
            <a href="{% url 'kml-networked-job' object.id %}" title="Refereshes every 2 min when viewed in Google Earth"><b>Auto-updating KML Link</b></a>
            </td>
        </tr>
        <tr>
            <td><b>Linked JSON:</b></td>
            <td><a href="{% url 'json-job' object.id %}">Job GeoJSON</a> ||
                <a href="{% url 'json-job-grid' object.id %}">Workcell Grid</a> ||
                <a href="{% url 'json-job-features-links' object.id %}">Features</a>
            </td>
        </tr>
        <tr>
            <td><b>Shapefile:</b></td>
            <td><a href="{% url 'shape-job' object.id %}">Work Cells</a> ||
                <a href="{% url 'shape-job-type' object.id 'points' %}">Points</a> ||
                <a href="{% url 'shape-job-type' object.id 'polygons' %}">Polygons</a></td>
        </tr>
    </table>