{% load object_class %}
<ul class="projectlist">


    {# Currently only for job detail, 'in work' tab. #}
    {% with object_list|first as first_object %}
        {% if first_object.status == 'In work'%}
                {% include "core/_get_started_message.html" %}
        {% endif %}
    {% endwith %}

    {% for object in object_list %}
        {% with object_type=object|object_class|lower %}

        <li{% if object.status == 'In work' %}{% if request.user != object.analyst %} class='shaded'{% endif %}{% endif %}>

        <h3 style="display: inline-block; margin:0px;">
            <span class="title pull-left">
                <i class="icon-{% if object_type == "project" %}briefcase{% elif object_type == "job"%}inbox{% elif object_type == "aoi"%}th{% elif object_type == "group"%}group{% endif %} icon-1x pull-left list-icon"></i>
                {% if object.status == 'In work' %}
                    {% if request.user == object.analyst %}
                    <a href="{{ object.get_absolute_url|default:'#' }}">
                    {% endif %}
                {% else %}
                    {% if object_type == "group" %}
                    <a href="{%url 'team-update' object.id %}">
                    {% elif object_type == "user" %}
                    {% else %}
                    <a href="{{ object.get_absolute_url|default:'#' }}">
                    {% endif %}
                {% endif %}

                {% if object_type == "user" %}
                    {{object.username}}
                {% else %}
                    {{ object.name }}
                {% endif %}
                
                {% if object_type == "aoi" %}{{ object.id }}{% endif %}

                {% if object.status == 'In work' %}{% if request.user == object.analyst %}
                </a>
                {% endif %}{% else %}
                </a>
                {% endif %}
            </span>
        </h3>

        {% if object_type == "project" %}
            {% include "core/_project_stat_list.html" %}
        {% elif object_type == "job" %}
            {% include "core/_job_stat_list.html" %}
        {% elif object_type == "aoi" %}
            {% include "core/_aoi_stat_list.html" %}
        {% endif %}

        <p class="body">
        {% if object_type == "job" %}
            <b>Project:</b> <a href="{{ object.project.get_absolute_url|default:'#' }}">{{ object.project.name }}</a><br/>
        {% endif %}
        {% if object_type == "aoi" %}
            <b>Workcell Description</b>: <span class="project-description">{{ object.description }}</span>
        {% elif object_type == "group" or object_type == "user" %}     
        {% else %}
            <b>{{ object_type|title }} Description</b>: <span class="project-description">{{ object.description }}</span>
        {% endif %}
        </p>

        <p class="body muted timestamp">{{ object.created_at }}</p>

        {% if object_type == "job" %}
            {{ object.features_table_html|safe }}
        {%  endif %}

        </li>
    {% endwith %}
    {% endfor %}

    {% if object_list %}
    {% include 'core/_pagination.html' with page=page_obj alignment='centered' %}
    {% endif %}

</ul>
