{% load object_class %}
<div id="tree">
    <ul id="treeData" style="display:none;">

        {% if 'core.assign_workcells' in request.base_perms %}
        {% regroup object_list by assignee_name as assignee_list %}
        {% else %}
        {% regroup object_list by object.analyst as assignee_list %}
        {% endif %}

    {% for assignee in assignee_list %}

        <li class="folder"> <i class="icon-user" icon-1x pull-left list-icon ></i> {{ assignee.grouper|default_if_none:"Your Workcells" }}
        <ul>

        {% for object in assignee.list %}

        {% with object_type=object|object_class|lower %}

        <li{% if object.status == 'In work' %}{% if request.user != object.analyst %} class='shaded'{% endif %}{% endif %}>

        <h3 style="display: inline-block; margin:0px;">
            <span class="title pull-left">
                <i class="icon-{% if object_type == "project" %}briefcase{% elif object_type == "job"%}inbox{% elif object_type == "aoi"%}th{% endif %} icon-1x pull-left list-icon"></i>
                {% if object.status == 'In work' %}
                    {% if request.user == object.analyst %}
                    <a href="{{ object.get_absolute_url|default:'#' }}">
                    {% endif %}
                {% else %}
                    <a href="{{ object.get_absolute_url|default:'#' }}">
                {% endif %}

                {{ object.name }} {% if object_type == "aoi" %}{{ object.id }}{% endif %}

                </a>
            </span>
        </h3>


        <p class="body">

            <b>Workcell Description</b>: <span class="project-description">{{ object.description }}</span>

        </p>

        <p class="body muted timestamp">{{ object.created_at }}</p>

        {% if object_type == "job" %}
            {{ object.features_table_html|safe }}
        {%  endif %}

        </li>
    {% endwith %}
    {% endfor %}
        </ul>
    </li>
        {% endfor %}

    {% if assignee_list %}
    {% include 'core/_pagination.html' with page=page_obj alignment='centered' %}
    {% endif %}

</ul>
</div>
