<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load compress %}
{% load url from future %}
{% load menu %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}GeoQ{% endblock %}</title>

    <script src="{{ STATIC_URL }}core/js/sjcl.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}

    {% compress css %}

        <link href="{{ STATIC_URL }}core/less/geoq.less" media="all" rel="stylesheet" type="text/less"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-2/css/font-awesome.min.css">
    	<link href="{{ STATIC_URL }}core/js/fancytree/skin-win7/ui.fancytree.css" rel="stylesheet" type="text/css">

    {% endcompress %}

    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}core/js/html5.js"></script>
    <![endif]-->

    {% compress js %}
        <script src="{{ STATIC_URL }}core/js/jquery.min{% block jquery_version %}{% endblock %}.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/jquery-ui{% block jquery_ui_version %}{% endblock %}.custom.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/underscore-min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/underscore.string.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}core/js/log4javascript.js" type="text/javascript"></script>
        <script type="text/javascript">
            var log;
            if (document.location.hash && document.location.hash.indexOf("debug") > 0) {
                log = log4javascript.getDefaultLogger();
                var browserConsoleAppender = new log4javascript.BrowserConsoleAppender();
                log.addAppender(browserConsoleAppender);
            } else {
                var output = (typeof console!="undefined") ? function (x) {console.log(x)} : function(){};
                log = {warn:output,log:output,error:output,info:output,debug:output,trace:output};
            }
        </script>
        <script src="{{ STATIC_URL }}core/js/base.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        //Auto-exported site-wide settings
        {% autoescape off %}var site_settings = {{ settings|safe|default:"{}" }};{% endautoescape %}
    </script>
    {% block static_libraries %}
    {% endblock %}

    {% bootstrap_javascript_tag %}

</head>

<body>
{% block container %}
    <div class="container">

        {% block content %}Empty page{% endblock %}

        <!--<footer class="row">
        {% block footer %}
            <div class="span6">GeoQ</div>
        {% endblock %}
        </footer>-->

    </div> <!-- container -->
{% endblock %}

{% get_menu request %}
{% bootstrap_messages %}

</body>
</html>
