{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load object_class %}
{% block container %}

    <div class="row-fluid container-narrow">

        <h3> {% if object %}Edit{% else %}Create New {% endif %}{{ form.Meta.model|object_class|title }}</h3>
        <div class="span12">
             {% crispy form %}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('select[multiple="multiple"]').parent().parent()
                .css('height','200px');

            /* GEOQ-14 Bug fix */
            /* Expands additional options if error is detect */
            if ( $('fieldset#more-options span[id*="error_1_id_"]').length ) {
                $('p a[data-target="#more-options"]').click();
            }
        });
        $('input, select, textarea').css('width','80%');

    </script>
{% endblock %}
