{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% load geoq_leaflet_tags %}
{% load static %}
{% block title %}GeoQ: Workcell {{ object.id }}{% endblock %}
{% block static_libraries %}

    {% leaflet_js plugins="proj4js,draw,esri,esriCluster,MakiMarkers,WMSHeader" %}
    <!-- script src="{% static 'jquery/jquery-migrate-3.0.0.min.js' %}"></script -->
    <script src="{% static 'core/js/leaflet_helper.js' %}"></script>
    <script src="{% static 'core/js/leaflet_helper.parsers.js' %}"></script>
    <script src="{% static 'leaflet/KML.js' %}"></script>
    <script src="{% static 'core/js/aoi_feature_edit.js' %}"></script>
    <script src="{% static 'core/js/Math.uuid.js' %}"></script>
    <script src="{% static 'core/js/dndsupport.js' %}"></script>
    <script src="{% static 'core/js/leafletcontrols/leaflet.simple_button.js' %}"></script>
    <script src="{% static 'leaflet/L.Control.Button.js' %}"></script>
	<script src="{% static 'leaflet/leaflet.OSMGeocoder/Control.OSMGeocoder.js' %}"></script>
	<script src="{% static 'core/js/leafletcontrols/leaflet.layer_tree.js' %}"></script>
    <script src="{% static 'core/js/leafletcontrols/leaflet.filter_bar.js' %}"></script>
    <script src="{% static 'core/js/leafletcontrols/leaflet.feature_manager.js' %}"></script>
    <script src="{% static 'fancytree/jquery.fancytree.js' %}" type="text/javascript"></script>
    <script src="{% static 'fancytree/jquery.fancytree.dnd.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/jquery.jeditable.js' %}" type="text/javascript"></script>
    <script src="{% static 'moment/moment.min.js' %}" type="text/javascript"></script>

	<script src="{% static 'core/js/geojson-js-utils/geojson-utils.js' %}"></script>
	<script src="{% static 'core/js/jsmaptools/jsmaptools.js' %}"></script>
	<script src="{% static 'core/js/jsmaptools/jsmaptools_polygons.js' %}"></script>
	<script src="{% static 'core/js/store.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.tancolor.js' %}"></script>
    <script src="{% static 'core/js/maths.js' %}"></script>

    <script src="{% static 'leaflet/leaflet-plugins/leaflet.shapefile-gh-pages/leaflet.shpfile.js' %}"></script>
    <script src="{% static 'leaflet/leaflet-plugins/leaflet.shapefile-gh-pages/shp.js' %}"></script>
    <script src="{% static 'leaflet/leaflet-plugins/layer/tile/Bing.js' %}"></script>
	<script src="{% static 'leaflet/leaflet-plugins/layer/tile/Google.js' %}"></script>
    <script src="{% static 'leaflet/leaflet-plugins/layer/tile/leaflet-tilelayer-wmts.js' %}"></script>
    <script src="{% static 'leaflet/Leaflet-WFST.min.js' %}"></script>
    <script src="{% static 'core/js/plugins/geoq.imagequeue.js' %}"></script>
    <script src="{% static 'core/js/plugins/geoq.imageviewer.js' %}"></script>
    <script src="{% static 'core/js/plugins/layer_builder.js' %}"></script>
    <script src="{% static 'core/js/plugins/ogc.wfs.js' %}"></script>
    <script src="{% static 'xmlwriter/XMLWriter-1.0.0-min.js' %}"></script>
    <script src="{% static 'core/js/daterangepicker.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap-slider.js' %}" type="text/javascript"></script>
    <!-- script src="{% static 'core/js/YouTubeSearch.js' %}"></script>
    <!-- script src="{% static 'mage/js/mage-leaflet.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script -->
    <script src="{% static 'bootstrap/js/bootstrap-dialog.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.tablesorter.combined.js' %}"></script>
    <script src="{% static 'jquery/jquery.tablesorter.pager.js' %}"></script>
    <script src="{% static 'query-builder/query-builder.min.js' %}" type="text/javascript"></script>

    <!-- Maybe this is worth it -->
    <script src="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/jquery.ncbo.tree-2.0.2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/jquery.ncbo.tree.css' %}" />

    <script src="{% static 'core/js/plugins/sparkle-querybuilder/assets/vontology.js' %}"></script>
    <script src="{% static 'core/js/plugins/sparkle-querybuilder/assets/vowlHelper.js' %}"></script>
    <script src="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/bloodhound.min.js' %}"></script>
    <script src="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/typeahead.jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'core/js/plugins/sparkle-querybuilder/dependencies/searchsupport.css' %}" />


    <script src="{% static 'core/js/plugins/sparkle-querybuilder/sparkle.querybuilder.js' %}" vocabulary='{"test" : "test"}'></script>

    {% for layer in object.job.map.layers %}{% if layer.layer.type == 'Google Maps' %}
    <script src="{{ layer.layer.url }}maps/api/js?v=3&sensor=false"></script>
    {%  endif %}{% endfor %}

    <!-- responder related -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-realtime/2.1.1/leaflet-realtime.min.js"></script>
    <script defer src="//cdn.rawgit.com/chrisveness/geodesy/v1.1.2/latlon-spherical.js"></script>
    <script defer src="//cdn.rawgit.com/chrisveness/geodesy/v1.1.2/dms.js"></script>

    <!-- try WCS -->
    <script src="{% static 'leaflet/NonTiledLayer.js' %}"></script>
    <script src="{% static 'js/geotiff.js' %}"></script>
    <script src="{% static 'js/plotty.js' %}"></script>
    <script src="{% static 'leaflet/NonTiledLayer.WCS.js' %}"></script>

    <script type="text/javascript">

        leaflet_helper.proxy_path = "{% url 'proxy' %}" + "/"; //TODO: Standardize expression of proxy locations
        leaflet_helper.home_url = "{% url 'home' %}";

        aoi_feature_edit.feature_types = [];
        {% for feature_type in feature_types %}
            aoi_feature_edit.feature_types[{{ feature_type.id }}] = {{ feature_type.to_json|safe }};
        {% endfor %}

        aoi_feature_edit.feature_types_all = [];
        {% for feature_type in feature_types_all %}
            aoi_feature_edit.feature_types_all[{{ feature_type.id }}] = {{ feature_type.to_json|safe }};
        {% endfor %}

        aoi_feature_edit.menu_types = [];
        {% for t in menu_types %}
            aoi_feature_edit.menu_types[{{ t.id }}] = {{ t.to_json|safe }};
        {% endfor %}

        var inreview_status_url = "{% url 'aoi-update-status' object.id 'In review' %}";
        aoi_feature_edit.awaitingreview_status_url = "{% url 'aoi-update-status' object.id 'Awaiting review' %}";
        aoi_feature_edit.unassigned_status_url = "{% url 'aoi-update-status' object.id 'Unassigned' %}";
        aoi_feature_edit.completed_status_url = "{% url 'aoi-update-status' object.id 'Completed' %}";

        aoi_feature_edit.job_absolute_url = "{{ object.job.get_absolute_url }}";
        aoi_feature_edit.job_name = "{{ object.job.name }}";
        aoi_feature_edit.aoi_id = "{{ object.id }}";
        aoi_feature_edit.tags = "{{ object.job.tags }}";
        aoi_feature_edit.analyst_name = "{{ request.user.username }}";

        aoi_feature_edit.aoi_map_json = {{ layers_on_map|safe|default:"{}" }}; //This lists all the custom layers for the map
        aoi_feature_edit.aoi_extents_geojson = {{ object.polygon.json|safe }};
        aoi_feature_edit.aoi_properties = {{ object.properties_json|safe }};
        aoi_feature_edit.priority = {{ object.priority|default:5 }};
        aoi_feature_edit.status = "{{ object.status }}";

        aoi_feature_edit.aoi_user_remembered_params = {{ user_custom_params|safe }};

        aoi_feature_edit.api_url_job_kml = "{% url 'kml-job' object.job.id %}";
        aoi_feature_edit.api_url_job_kml_networked = "{% url 'kml-networked-job' object.job.id %}";
        aoi_feature_edit.api_url_job_georss = "{% url 'json-job' object.job.id %}";
        aoi_feature_edit.api_url_aoi_georss = "{% url 'json-workcell' object.id %}";
        aoi_feature_edit.api_url_log = "{% url 'workcell_log' object.id %}";
        aoi_feature_edit.api_url_user_param = "{% url 'update-user-maplayer-param' %}";
        aoi_feature_edit.api_url_save_classification = "{% url 'classify-feature' %}";

        aoi_feature_edit.csrf = '{{ csrf_token }}';

        aoi_feature_edit.job_features_geojson = {{ object.job.oneweek_features_geoJSON|safe }};
        aoi_feature_edit.create_feature_url = "{% url 'feature-create' %}";
        aoi_feature_edit.edit_feature_url = "{% url 'feature-edit' %}";
        aoi_feature_edit.next_aoi_url = "{% url 'job-next-aoi' object.job.id %}";

        aoi_feature_edit.percent_complete = {{ object.job.complete_percent }};
        aoi_feature_edit.description = "{{ object.description|escapejs}}";
        aoi_feature_edit.static_root = "{% static '/' %}";
        aoi_feature_edit.help_url = "{% url 'help_page' %}";
        aoi_feature_edit.transitions = {{ transitions|safe }};

        {% if 'user_accepted_terms' in request.base_perms %}aoi_feature_edit.user_accepted_tems = true;{% endif %}
        aoi_feature_edit.terms_acceptance_url = "{% url 'accept_terms_link' %}";

        {% if 'permissions_granted' in request.base_perms %}aoi_feature_edit.permissions_granted = true;{% endif %}
        {% if request.user in reviewers %}aoi_feature_edit.permissions_review = true;{% endif %}

        // add in the following function to help us find namespaced nodes with jQuery
            $.fn.filterNode = function(name) {
                return this.find('*').filter(function() {
                    return this.nodeName === name;
                });
            };

        // and a function to selectively load javascript files
            $.fn.loadjsfile = function(filename) {
                var fileref = document.createElement('script');
                fileref.setAttribute('type', 'text/javascript');
                fileref.setAttribute('src', filename);
                if (typeof fileref !== 'undefined') {
                    document.getElementsByTagName('head')[0].appendChild(fileref);
                }
            };


        aoi_feature_edit.init();

    </script>

    {% compress css %}
        {% leaflet_css plugins="draw"%}
        <link rel="stylesheet" href="{% static 'leaflet/leaflet.OSMGeocoder/Control.OSMGeocoder.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'core/css/bootstrap_slider/bootstrap-slider.css' %}" />
        <link rel="stylesheet" href="{% static 'core/css/jquery-ui.min.css' %}" />
        <link rel="stylesheet" href="{% static 'leaflet/MarkerCluster.css' %}" />
        <link rel="stylesheet" href="{% static 'leaflet/MarkerCluster.Default.css' %}" />
        <link rel="stylesheet" href="{% static 'images/maki/maki-sprite.css' %}" />
        <link rel="stylesheet" href="{% static 'core/edit.css' %}" />
	<link rel="stylesheet" href="{% static 'core/css/daterangepicker.css' %}" />

    <link rel="stylesheet" href="{% static 'css/theme.blue.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tablesorter.pager.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tablesorter.pager.custom.css' %}" />

    <link rel="stylesheet" href="{% static 'core/css/query-builder.default.min.css' %}" />


    {% endcompress %}
{% endblock %}

{% block container %}
<div id="map" style="height:750px; margin-left: 0px;">
{% geoq_leaflet_map "map" callback="aoi_feature_edit.map_init" creatediv=False settings_overrides=base_layer %}
    </div>
{% endblock %}
