{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% load django_select2_tags %}
{% block static_libraries %}

    {% leaflet_js plugins="draw, esri, esriCluster" %}
    {% import_django_select2_js %}
    <script src="{{ STATIC_URL }}core/js/leaflet_helper.js"></script>
    <script src="{{ STATIC_URL}}core/js/KML.js"></script>
    <script src="{{ STATIC_URL}}core/js/KMZ.js"></script>
    <script src="{{ STATIC_URL }}core/js/aoi_feature_edit.js"></script>
    <script src="{{ STATIC_URL }}core/js/js-unzip.js"></script>
    <script src="{{ STATIC_URL }}core/js/js-inflate.js"></script>
    <script src="{{ STATIC_URL }}core/js/leafletcontrols/leaflet.simple_button.js"></script>
    <script src="{{ STATIC_URL }}core/js/leafletcontrols/leaflet.simple_button.left.js"></script>
    <script type="text/javascript">

        leaflet_helper.proxy_path = {% url 'home' %} + "proxy/"; //TODO: Standardize expression of proxy locations

        var feature_types = {};
        var geometry_types = [];
        {% for feature_type in  object.job.feature_types.all %}
                feature_types[{{ feature_type.id }}] = {{ feature_type.to_json|safe }};
                geometry_types.push("{{ feature_type.type }}");
        {% endfor %}

        aoi_feature_edit.complete_url = "{% url 'aoi-update-status' object.id "Completed" %}";
        aoi_feature_edit.complete_redirect_url = "{% url 'job-detail' object.job.id %}";

        aoi_feature_edit.job_absolute_url = "{{ object.job.get_absolute_url }}";
        aoi_feature_edit.job_name = "{{ object.job.name }}";
        aoi_feature_edit.aoi_id = "{{ object.id }}";

        aoi_feature_edit.aoi_map_json = {{ map.to_json|safe|default:"{}" }};
        aoi_feature_edit.aoi_extents_geojson = {{ object.polygon.json|safe }};;
        aoi_feature_edit.job_features_geojson = {{ object.job.features_geoJSON|safe }};;
        aoi_feature_edit.feature_types = feature_types;
        aoi_feature_edit.create_feature_url = "{% url 'feature-create' %}";

        aoi_feature_edit.percent_complete = {% widthratio object.job.complete.count 100 100%};
        aoi_feature_edit.description = "{{ object.description |safe}}";

        aoi_feature_edit.init();



</script>

    {% compress css %}
        {% leaflet_css plugins="draw"%}
        {% import_django_select2_css %}
    {% endcompress %}
    <style type="text/css">
        #map {
            position: absolute;
            float: left;
            top: 40px;
            height: 94%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block container %}
<div id="map" >{% leaflet_map "map" callback="aoi_feature_edit.map_init"%}</div>
{% endblock %}

