{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% load geoserver_job_link %}
{% block static_libraries %}
    {% leaflet_js %}
    <script src="{{ STATIC_URL }}core/js/leaflet_helper.js"></script>
    <script src="{{ STATIC_URL }}core/js/bootstrap-dialog.js"></script>
    <script type="text/javascript">

        var aoi_extents;
        function mapInit(map, bounds) {

            aoi_extents = L.geoJson({{ object.geoJSON|default:'[]'|safe }}, {
                style: function(feature) {
                    switch (feature.properties.status){
                        case 'Assigned': return leaflet_helper.styles.assigned;
                        case 'Completed': return leaflet_helper.styles.completed;
                        case 'In work' : return leaflet_helper.styles.in_work;
                        case 'Unassigned' : return leaflet_helper.styles.extentStyle;
                    }
                },
                onEachFeature: function(feature, layer) {

                    job_properties = feature.properties;
                    var popupContent = _.template('{% filter escapejs %}{% include "core/job_detail_aoi_popup.html" %}{% endfilter %}', job_properties);
                    layer.bindPopup(popupContent);

                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight
                    });
                }
            }).addTo(map);

            // Map doesn't update without this delay.
            setTimeout(function(){
                try {
                    //AOI is sometimes getting no bounds data, which causes error
                    var test = aoi_extents.getBounds().getCenter();
                    map.fitBounds(aoi_extents.getBounds());
                } catch(ex){
                    log.error("aoi_extents not being passed in valid bounds");
                }
            }, 1);


            var drawnItems = new L.FeatureGroup();
    		map.addLayer(drawnItems);

        }

        function highlightFeature(e) {
            var layer = e.target;
            layer.setStyle({
                color: 'black',
                weight: 3,
                opacity: 1,
                fillOpacity:.3,
                fillColor: 'gray'
            });
        }

        function resetHighlight(e) {
            aoi_extents.resetStyle(e.target);
        }

        function deleteAOI(id, delete_url) {
            BootstrapDialog.confirm('Delete AOI # ' + id + '?',
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: delete_url,
                                type: 'GET',
                                success: function(data) {
                                    window.location.reload();
                                },
                                failure: function() { console.log('failed');}
                            })
                        }
                    }
            );
        }

    </script>

    {% compress css %}
    {% leaflet_css %}
    <link href="{{ STATIC_URL }}core/less/geoq.less" media="all" rel="stylesheet" type="text/less" />
{% endcompress %}
{% endblock %}

{% block container %}
    <div class="row-fluid container-narrow">

        <div class="projectlist">

            {% include 'core/_job_stat_list.html' %}

            <h3>
                <i class="icon-inbox icon-1x pull-left list-icon"></i>
                <span class="title header">
                    <a href="{%url 'job-detail' object.id %}">{{ object.name }}</a>
                </span>
            </h3>

            <p class="body project-description">
                {{ object.description }}
            </p>

            <div class="row body" style="height:250px; margin-top:25px">
                {% if 'accounts.change_aoi' in request.base_perms %}
                <div class="btn-group pull-right">
                    <a class="btn btn-mini" href="{{ object.get_update_url }}">
                        <b> Edit Job </b>
                    </a>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if 'accounts.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-create-aois' object.id%}">Add AOIs</a></li>
                        {% endif %}
                        {% if 'accounts.delete_job' in request.base_perms %}
                        <li><a href="{% url 'job-delete' object.id %}">Delete Job</a></li>
                        {% endif %}
                        {% if 'accounts.change_job' in request.base_perms and object.map%}
                        <li><a href="{% url 'map-update' object.map.id %}">Edit Map</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="span4 thumbnail" id="map" style="height:225px; vertical-alignment:middle;">
                {% leaflet_map "map" creatediv=False%}
                </div>
                <div class="span6" id="attribute-table">
                    <table>
                        <tr>
                            <th style="min-width: 100px"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <b>Project:</b>
                            </td>
                            <td>
                                <a href="{{ object.project.get_absolute_url }}">{{ object.project.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Created:</b>
                            </td>
                            <td>
                                {{ object.created_at }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Project Type:</b>
                            </td>
                            <td>
                                {{ object.project.project_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Private:</b>
                            </td>
                            <td>
                                {{ object.project.private }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Description:</b>
                            </td>
                            <td>
                                {{ object.project.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Completed:</b>
                            </td>
                            <td>
                                <div class="progress" style="margin-bottom: 0px;">
                                    <div class="bar" role="progressbar"
                                         aria-valuenow="{{ completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width:{{ completed }}%;">
                                        {{ completed }}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% geoserver_job_link object.id "wfs" as geoserver_job_wfs %}
                        {% geoserver_job_link object.id "kml" as geoserver_job_kml %}
                        {% if geoserver_job_wfs %}
                        <tr>
                            <td><b>KML:</b></td>
                            <td><a href="{{geoserver_job_kml}}">Link</a></td>
                        </tr>
                        <tr>
                            <td><b>WFS URL:</b></td>
                            <td>{{geoserver_job_wfs}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><b>KML:</b></td>
                            <td><a href="{% url 'kml-job' object.id %}">Link</a> ||
                            <a href="{% url 'kml-networked-job' object.id %}" title="Refereshes every 2 min when viewed in Google Earth">Networked Link</a>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td><b>GeoJSON:</b></td>
                            <td><a href="{% url 'json-job' object.id %}">Link</a></td>
                        </tr>
                    </table>
                </div>

            {% if 'accounts.change_aoi' in request.base_perms %}
            {% if object.unassigned_aois %}
                {% if request.user == object.in_work_aois.0.analyst or request.user == object.in_work_aois.0.reviewer %}
                <a href="{% url 'aoi-work' object.in_work_aois.0.id %}" class="btn btn-large btn-success pull-right" style="margin-top:80px">
                {% else %}
                <a href="{% url 'job-next-aoi' object.id%}" class="btn btn-large btn-success pull-right" style="margin-top:80px">
                {% endif %}
                    Contribute to this job.
                    <i class="icon-long-arrow-right"></i></a>
            {% endif %}
            {% endif %}
            </div>

            <div class="row body">
                <ul class="nav nav-tabs">
                    {% for status in statuses%}
                        {% with status=status|lower %}
                    <li class="{% if status == active_status %}active{% endif %}">
                        <a href="{{ object.get_absolute_url }}{{ status }}">{{ status|title }}</a>
                    </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>

            {% include "core/_object_list.html" %}

        </div>

    </div>
{% endblock %}

