{% extends "core/base.html" %}
{% block title %}GeoQ Jobs{% endblock %}

{% block container %}

    <div class="row-fluid container-narrow">

        <div class="span12">
            <div class="list-view-header">Jobs</div>

            <div style="clear:both"></div>
            <div class="pull-right">

                <form method="get" action="" class="form-search">
                    <div class="input-append">
                        <input class="search-query input-medium" name="search" type="text" value="{{ previous_search }}"/>
                        <button type="submit" class="btn btn-medium" type="button"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>

            {% if active or archived or exercise or private %}
            <ul class="nav nav-tabs">
                {% if active %}
                <li class="{% if active_pane == "active" %} active {% endif %}">
                    <a href="#active" data-toggle="tab">Active Projects</a>
                </li>
                {% endif %}
                {% if archived %}
                <li class="{% if active_pane == "archived" %} active {% endif %}">
                    <a href="#archived" data-toggle="tab">Archived Projects</a>
                </li>
                {% endif %}
                {% if exercise %}
                <li class="{% if active_pane == "exercise" %} active {% endif %}">
                    <a href="#exercise" data-toggle="tab">Exercises</a>
                </li>
                {% endif %}
                {% if private %}
                <li class="{% if active_pane == "private" %} active {% endif %}">
                    <a href="#private" data-toggle="tab">Private Projects</a>
                </li>
                {% endif %}

            </ul>

            <div class="tab-content">
                <div id="active" class="tab-pane {% if active_pane == "active" %} active {% endif %}">
                    {% include "core/_object_list.html" with object_list=active %}
                </div>

                <div id="exercise" class="tab-pane {% if active_pane == "exercise" %} active {% endif %}">
                    {% include "core/_object_list.html" with object_list=exercise %}
                </div>

                <div id="archived" class="tab-pane {% if active_pane == "archived" %} active {% endif %}">
                    {% include "core/_object_list.html" with object_list=archived %}
                </div>

                <div id="private" class="tab-pane {% if active_pane == "private" %} active {% endif %}">
                    {% include "core/_object_list.html" with object_list=private %}
                </div>

            </div>
            {% else %}
            <div class="span12">
                <p>There were no results for your query. <a href="{{request.path}}">Go back?</a> </p>
            </div>
            {% endif %}
        </div>

    </div>
    <script>
        $(document).ready(function(){
            var $descriptions = $('.project-description');
            _.each($descriptions,function(d){
                var content = $(d).html();
                if (content) {
                    var capped = _.str.capitalize(content);
                    capped = linkify(capped);
                    $(d).html(capped);
                }
            });

            //Bold any entries within tables
            $('.job_feature_list td').filter(function() {
              return $(this).text() != '0';
            }).css({fontWeight:'bold'});
        });

    function linkify(inputText) {
        var replacedText, replacePattern1, replacePattern2, replacePattern3;

        //URLs starting with http://, https://, or ftp://
        replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
        replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

        //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
        replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
        replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

        //Change email addresses to mailto:: links.
        replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
        replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

        return replacedText;
    }

    </script>
{% endblock %}
