{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% load dynurl %}
{% block static_libraries %}
    {% leaflet_js plugins="draw" %}
    <style>
        .popover {
            min-width: 200px ! important;
        }
    </style>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="{{ STATIC_URL }}core/js/jquery.geocomplete.js"></script>

    <script type="text/javascript">

    var df = null;
    var aois = new L.FeatureGroup();

    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            color: 'red',
            weight: 3,
            opacity: 1,
            fillOpacity: 1,
            fillColor: 'red'
        });
    }

    function resetHighlight(e) {
        var layer = e.target;
        layer.setStyle({
            "weight":2,
            "color":"darkgreen",
            "opacity":.7,
            fillOpacity: 0.3,
            fillColor: 'darkgreen'
        })
    }

    function removeFeature(e) {
        // get FeatureLayer key
        for (var key in aois._layers) {
            if (aois._layers[key]._layers[e.target._leaflet_id]) {
                aois._layers[key].removeLayer(e.target);
            }
        }
    }

    function mapInit(map, bounds) {

            extentStyle = {
                "weight":2,
                "color":"darkgreen",
                "opacity":.7,
                fillOpacity: 0.3,
                fillColor: 'darkgreen'
            }



            setTimeout(function(){map.fitBounds([[52.429222277955134, -51.50390625],[21.043491216803556,-136.58203125]])}, 1);


            var drawnItems = new L.FeatureGroup();
            df = drawnItems;

            map.addLayer(drawnItems);

            var drawControl = new L.Control.Draw({
                draw: {
                    position: 'topleft',
                    polygon: {
                        title: 'Draw an Area to be searched',
                        allowIntersection: false,
                        drawError: {
                            color: '#b00b00',
                            timeout: 1000
                        },
                        shapeOptions: {
                            color: '#bada55'
                        },
                        showArea: true
                    },
                    circle: {
                        shapeOptions: {
                            color: '#662d91'
                        }
                    },
                    polyline: false
                },
                edit: {
                    featureGroup: aois,
                    remove: false
                }
            });
            map.addControl(drawControl);
            $('a.leaflet-draw-edit-edit')
                    .attr("title","Click AOI box to delete it");
            $('div.leaflet-draw.leaflet-control').find('a').popover({trigger:"hover",placement:"right"})

            var callback = function(data, textStatus, jqXHR){
                var features = L.geoJson(data, {
                    style: function(feature) {
                        return extentStyle;
                    },
                    onEachFeature: function(feature, layer) {

//                        job_properties = feature.properties;
//                        popupContent = _.template('{% filter escapejs %}{% include "core/job_detail_aoi_popup.html" %}{% endfilter %}', job_properties);
//                        layer.bindPopup(popupContent);
//
                        layer.on({
                            mouseover: highlightFeature,
                            mouseout: resetHighlight,
                            click: removeFeature
                        });
                    }
                });

                if (features){
                    aois.addLayer(features);
                    //map.removeLayer(drawnItems);
                    map.addLayer(aois);
                }

            };


            map.on('draw:created', function (e) {
                // map.fitBounds(e.layer.getBounds());
                var type = e.layerType,
                    layer = e.layer;

                if (type === 'rectangle' || type === 'circle' || type === 'polygon' ) {
                       bboxStr = layer.getBounds().toBBoxString();
                       $.ajax({
                          type: "GET",
                          url: "{% DynamicUrl object.grid %}",
                          data: { bbox: bboxStr},
                          contentType: "application/json",
                          success: callback,
                          beforeSend: function() {
                              //map.style.cursor = 'wait';
                              $("#map").css({
                                  'cursor': 'wait'
                              })
                          },
                          complete: function() {
                              $("#map").css({
                                  'cursor': 'default'
                              })
                          },
                          error: function(response) {
                              if (response.responseText) {
                                  message = JSON.parse(response.responseText);
                                  if (message.details) {
                                      log.error(message.details);
                                  }
                              }
                          },
                          dataType: "json"
                        });
                }

                drawnItems.addLayer(layer);
            });
            }


    $(document).ready(function() {
        $("#save-aois-button").on('click',function(e){
            boundaries = [];
            // this doesn't need to be a filter
            var m = aois._map;
            if (m) {
                if (m._container.id == 'map'){
                   if (m.hasLayer(aois)){
                       _.each(aois.getLayers(), function(l){

                           _.each(l.getLayers(), function(f){
                               f.feature.name = $('#aoi-name').val();
                               boundaries.push(f.toGeoJSON());
                           });
                       })

                       $.post("{% url 'job-batch-create-aois' job_pk %}",
                               { aois: JSON.stringify(boundaries), csrftoken:geoq.csrftoken},
                               function(data, textStatus, xhr) {
                                   console.log("Got response: " + textStatus);
                                   window.location.href = "{% url 'job-detail' job_pk %}";
                               });

                   }
               }
            }
            })
        });


</script>
        <script>
            $(function() {
                $("#geocomplete").geocomplete()
                        .bind("geocode:result", function(event,result) {
                            console.log("Result: " + result.formatted_address);
                            if ( df._map ) {
                                df._map.setView([result.geometry.location.lat(),result.geometry.location.lng()],13);
                            }
                        })
                        .bind("geocode:error", function(event,status){
                            console.log("Error: " + status);
                        })
                        .bind("geocode:multiple", function(event,results) {
                            console.log("Multiple: " + results.length + " results found");
                        });

                $("#find").click(function() {
                    $("#geocomplete").trigger("geocode");
                });
            });
        </script>

    {% compress css %}
    {% leaflet_css plugins="draw"%}
{% endcompress %}
{% endblock %}


{% block container %}
    <div class="row-fluid container-narrow">
    <h2>Create new Work cells</h2>
    <h3>Please zoom in to at least city level before drawing work cells</h3>
    <div id="map" class="thumbnail" style="height: 450px; width: 100%;">{% leaflet_map "map" %}</div>
        <br/>
    <div class="row">
        <div class="col-md-3">
        <label>Name for this group of work cells:</label>
        <input type="text" name="aoi-name" id="aoi-name" value="{{ object.name }}"/>
        </div>
        <div class="cod-md-3">
            <label>Zoom above map to Location:</label>
            <input type="text" id="geocomplete" />
        </div>
    </div>
    <div class="row">
    <btn id="save-aois-button" class="btn btn-success">Save Work Cells</btn>
    </div>
    </div>
{% endblock %}