{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% load geoserver_job_link %}
{% block title %}GeoQ Job: {{ object.name }}{% endblock %}
{% block static_libraries %}
    {% leaflet_js %}
    <script src="{{ STATIC_URL }}core/js/leaflet_helper.js"></script>
    <script src="{{ STATIC_URL }}core/js/bootstrap-dialog.js"></script>
    <script src="{{ STATIC_URL }}core/js/maths.js"></script>
    <script type="text/javascript">

        var status_colors = [
            {name:'Assigned', color: leaflet_helper.styles.assigned, slug:'assigned'},  //TODO: Are we still using 'Assigned'?
            {name:'Completed', color: leaflet_helper.styles.completed, slug:'completed'},
            {name:'In work', color: leaflet_helper.styles.in_work, slug:'in-work'},
            {name:'In review', color: leaflet_helper.styles.in_review, slug:'in-review'},
            {name:'Awaiting review', color: leaflet_helper.styles.awaiting_review, slug:'awaiting-review'},
            {name:'Unassigned', color: leaflet_helper.styles.extentStyle, slug:'unassigned'}
        ];

        var aoi_extents;
        function mapInit(map, bounds) {

            aoi_extents = L.geoJson({{ object.geoJSON|default:'[]'|safe }}, {
                style: function(feature) {
                    var status = _.find(status_colors,function(stat){return stat.name==feature.properties.status});
                    return (status && status.color) ? status.color : '#ffffff';
                },
                onEachFeature: function(feature, layer) {

                    job_properties = feature.properties;
                    var popupContent = _.template('{% filter escapejs %}{% include "core/job_detail_aoi_popup.html" %}{% endfilter %}', job_properties);
                    layer.bindPopup(popupContent);

                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight
                    });
                }
            }).addTo(map);

            // Map doesn't update without this delay.
            setTimeout(function(){
                try {
                    //AOI is sometimes getting no bounds data, which causes error
                    var test = aoi_extents.getBounds().getCenter();
                    map.fitBounds(aoi_extents.getBounds());
                } catch(ex){
                    log.error("aoi_extents not being passed in valid bounds");
                }
            }, 1);


            var drawnItems = new L.FeatureGroup();
    		map.addLayer(drawnItems);

            configurePageUI();
        }

        function highlightFeature(e) {
            var layer = e.target;
            layer.setStyle({
                color: 'black',
                weight: 3,
                opacity: 1,
                fillOpacity:.3,
                fillColor: 'gray'
            });
        }

        function resetHighlight(e) {
            aoi_extents.resetStyle(e.target);
        }

        function deleteAOI(id, delete_url) {
            BootstrapDialog.confirm('Delete AOI # ' + id + '?',
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: delete_url,
                                type: 'GET',
                                success: function(data) {
                                    window.location.reload();
                                },
                                failure: function() { log.error('failed');}
                            })
                        }
                    }
            );
        }

        function configurePageUI () {
            //Color tabs with same colors as features
            _.each(status_colors, function(stat){
                var tab_name = '#tab_'+stat.slug;
                var $tab = $(tab_name);
                var bg_color = (stat.color) ? stat.color.fillColor : '';
                bg_color = bg_color || '#ffffff';
                var color = maths.idealTextColor(bg_color);

                if ($tab.length && bg_color) {
                    $tab.css({backgroundColor:bg_color, color:color});
                }
            });
        };

    </script>

    {% compress css %}
    {% leaflet_css %}
    <link href="{{ STATIC_URL }}core/less/geoq.less" media="all" rel="stylesheet" type="text/less" />
{% endcompress %}
{% endblock %}

{% block container %}
    <div class="row-fluid container-narrow">

        <div class="projectlist">

            {% include 'core/_job_stat_list.html' %}

            <h3>
                <span class="icon-inbox icon-1x pull-left list-icon"></span>
                <span class="title header">
                    <a href="{%url 'job-detail' object.id %}">{{ object.name }}</a>
                </span>
            </h3>

            <p class="body project-description">
                <b>Job Details:</b> {{ object.description }}
            </p>

            <div class="row body" style="height:250px; margin-top:25px">
                {% if 'accounts.change_aoi' in request.base_perms %}
                <div class="btn-group pull-right">
                    <a class="btn btn-mini" href="{{ object.get_update_url }}">
                        <b> Edit Job </b>
                    </a>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if 'accounts.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-create-aois' object.id%}">Create Workcells</a></li>
                        {% endif %}
                        {% if 'accounts.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-prioritize-workcells' object.id %}">Prioritize Workcells</a></li>
                        {% endif %}
                        {% if 'accounts.delete_job' in request.base_perms %}
                        <li><a href="{% url 'job-delete' object.id %}">Delete Job</a></li>
                        {% endif %}
                        {% if 'accounts.change_job' in request.base_perms and object.map%}
                        <li><a href="{% url 'map-update' object.map.id %}">Edit Map</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="span4 thumbnail" id="map" style="height:225px; vertical-alignment:middle;">
                {% leaflet_map "map" creatediv=False%}
                </div>
                <div class="span6" id="attribute-table" style="float:left">
                    <table>
                        <tr>
                            <th style="min-width: 100px"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <b>Project:</b>
                            </td>
                            <td>
                                <a href="{{ object.project.get_absolute_url }}">{{ object.project.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Created:</b>
                            </td>
                            <td>
                                {{ object.created_at }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Project Type:</b>
                            </td>
                            <td>
                                {{ object.project.project_type }}
                            </td>
                        </tr>
                    {% if object.project.private %}
                        <tr>
                            <td>
                                <b>Private:</b>
                            </td>
                            <td>
                                {{ object.project.private }}
                            </td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td style="vertical-align: top;">
                                <b>Description:</b>
                            </td>
                            <td>
                                {{ object.project.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Completed:</b>
                            </td>
                            <td>
                                <div class="progress" style="margin-bottom: 0px;">
                                    <div class="bar" role="progressbar"
                                         aria-valuenow="{{ completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width:{{ completed }}%; color: white; text-shadow: black 0.1em 0.1em 0.2em;">
                                        {{ completed }}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% geoserver_job_link object.id "wfs" as geoserver_job_wfs %}
                        {% geoserver_job_link object.id "kml" as geoserver_job_kml %}
                        {% if geoserver_job_wfs %}
                        <tr>
                            <td><b>KML:</b></td>
                            <td><a href="{{geoserver_job_kml}}">GeoServer Link</a></td>
                        </tr>
                        <tr>
                            <td><b>WFS URL:</b></td>
                            <td>{{geoserver_job_wfs}}</td>
                        </tr>
                        {%  endif %}
                        <tr>
                            <td><b>Google Earth:</b></td>
                            <td><a href="{% url 'kml-job' object.id %}" title="Best for use in other programs such as the Event Pages">KML Link</a> ||
                            <a href="{% url 'kml-networked-job' object.id %}" title="Refereshes every 2 min when viewed in Google Earth">Networked KML Link</a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Linked JSON:</b></td>
                            <td><a href="{% url 'json-job' object.id %}">Job GeoJSON</a> ||
                                <a href="{% url 'json-job-grid' object.id %}">Workcell Grid</a> ||
                                <a href="{% url 'json-job-features-links' object.id %}">Features</a>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Shapefile:</b></td>
                            <td><a href="{% url 'shape-job' object.id %}">Work Cells</a> ||
                                <a href="{% url 'shape-job-type' object.id 'points' %}">Points</a> ||
                                <a href="{% url 'shape-job-type' object.id 'polygons' %}">Polygons</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row body">
                <ul class="nav nav-tabs" style="float:left; width:100%;">
                    {% for status in statuses %}
                        {% with status=status|lower %}
                    <li class="{% if status == active_status %}active{% endif %}">
                        <a id="tab_{{ status|slugify }}" href="{{ object.get_absolute_url }}{{ status }}">{{ status|title }}</a>
                    </li>
                        {% endwith %}
                    {% endfor %}
                    <li>
                        <a id="tab_metrics" href="{{ metrics_url }}">Interactive Metrics</a>
                    </li>

                </ul>
            </div>

        {% if not workcell_count %}
            <div class="row body">
            {% if 'accounts.add_job' in request.base_perms %}
                <span><b>No workcells. Next step: </b> <a class="btn btn-large btn-success" href="{% url 'job-create-aois' job_pk=object.id %}">Create workcells</a></span>
            {% else %}
                <span><b>This project doesn't have any jobs yet, please ask a supervisor to create one</b></span>
            {% endif %}
            </div>
        {% endif %}

            {% include "core/_object_list.html" %}

        </div>

    </div>
{% endblock %}

