{% extends "core/base.html" %}
{% load compress %}
{% load geoserver_job_link %}
{% block title %}GeoQ Job Metrics: {{ object.name }}{% endblock %}
{% block jquery_version %}1.8.3{% endblock %}
{% block jquery_ui_version %}1.9.2{% endblock %}

{% block static_libraries %}
    <style>
        #option_buttons button {margin:5px;}
    </style>
    <script src="{{ STATIC_URL }}core/js/bootstrap-dialog.js"></script>
    <script src="{{ STATIC_URL }}core/js/maths.js"></script>
    <script src="{{ STATIC_URL }}core/js/jquery.tancolor.js"></script>
    <script src="{{ STATIC_URL }}core/js/pivottable.js/pivot.js"></script>

    <script type="text/javascript">
        //Auto-exported site-wide settings
        var features_url = "{{ features_url|default:'' }}";
        var pivot;
        $(document).ready(function(){
            var $output = $("#output");
            $.getJSON(features_url,function(job_data){
                $("#loading_message").hide();

                if (job_data.length == 0) {
                    $("#loading_message")
                        .show()
                        .css({backgroundColor:'yellow'})
                        .html("There are no Features recorded for this Job.")
                    return;
                }
                //Get a list of all keys found in data
                var allKeys = [];
                _.each(job_data,function(data){allKeys = allKeys.concat(_.keys(data))},allKeys);
                allKeys = _.unique(allKeys);

                //Make sure each object has all of the keys
                _.each(job_data,function(data){
                    _.each(allKeys,function(key){
                        if (typeof data[key] == "undefined") data[key] = "";
                    });
                });

                //Add buttons of preset configurations
                var $option_buttons = $('#option_buttons')
                        .html("<b>Quick Reports:</b>");
                $('<button class="btn btn-success">')
                    .text('Analyst Features')
                    .on('click',function(){
                        $output.pivotUI(job_data,{
                            rows: ["analyst"],
                            cols: ["feature_type"],
                            rendererName: "Heatmap"
                        },true);

                    })
                    .appendTo($option_buttons);
                $('<button class="btn btn-success">')
                    .text('Workcell Status')
                    .on('click',function(){
                        $output.pivotUI(job_data,{
                            rows: ["workcell_id"],
                            cols: ["status"],
                            rendererName: "Table"
                        },true);

                    })
                    .appendTo($option_buttons);
                if (_.indexOf(allKeys,'severity')>-1 && _.indexOf(allKeys,'structureType')> -1) {
                    $('<button class="btn btn-success">')
                        .text('FEMA County Severities')
                        .on('click',function(){
                            $output.pivotUI(job_data,{
                                rows: ["county", "structureType"],
                                cols: ["severity"]
                            },true);
                        })
                        .appendTo($option_buttons);
                }

                $output.pivotUI(job_data,{
                    rows: ["analyst"],
                    cols: ["feature_type"],
                    rendererName: "Heatmap"
                });
            })
            .error(function() {
                $("#loading_message")
                    .show()
                    .css({backgroundColor:'lightred'})
                    .html("Error Loading Metrics JSON data. Please inform an admin.")
            })
        });

    </script>
    {% compress css %}
    <link href="{{ STATIC_URL }}core/less/geoq.less" media="all" rel="stylesheet" type="text/less" />
    <link href="{{ STATIC_URL }}core/js/pivottable.js/pivot.css" media="all" rel="stylesheet" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block container %}
    <div class="row-fluid container-narrow">

        <div class="projectlist">

            {% include 'core/_job_stat_list.html' %}

            <h3>
                <span class="icon-inbox icon-1x pull-left list-icon"></span>
                <span class="title header">
                    <a href="{%url 'job-detail' object.id %}">{{ object.name }}</a>
                </span>
            </h3>

            <p class="body project-description">
                <b>Job Details:</b> {{ object.description }}
            </p>

            <div class="row body" style="margin-top:25px">
                {% if 'accounts.change_aoi' in request.base_perms %}
                <div class="btn-group pull-right">
                    <a class="btn btn-mini" href="{{ object.get_update_url }}">
                        <b> Edit Job </b>
                    </a>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if 'accounts.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-create-aois' object.id%}">Create Workcells</a></li>
                        {% endif %}
                        {% if 'accounts.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-prioritize-workcells' object.id %}">Prioritize Workcells</a></li>
                        {% endif %}
                        {% if 'accounts.delete_job' in request.base_perms %}
                        <li><a href="{% url 'job-delete' object.id %}">Delete Job</a></li>
                        {% endif %}
                        {% if 'accounts.change_job' in request.base_perms and object.map%}
                        <li><a href="{% url 'map-update' object.map.id %}">Edit Map</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="span5" id="attribute-table" style="float:left">
                    <table>
                        <tr>
                            <th style="min-width: 100px"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <b>Project:</b>
                            </td>
                            <td>
                                <a href="{{ object.project.get_absolute_url }}">{{ object.project.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Created:</b>
                            </td>
                            <td>
                                {{ object.created_at }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Project Type:</b>
                            </td>
                            <td>
                                {{ object.project.project_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Completed:</b>
                            </td>
                            <td>
                                <div class="progress" style="margin-bottom: 0px;">
                                    <div class="bar" role="progressbar"
                                         aria-valuenow="{{ completed }}"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width:{{ completed }}%; color: white; text-shadow: black 0.1em 0.1em 0.2em;">
                                        {{ completed }}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <b>Description:</b>
                            </td>
                            <td>
                                {{ object.project.description }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="span5" id="attribute-table">
                    <table>
                    {% include 'core/_job_links.html' %}
                    </table>
                </div>
            </div>

            <div class="row body">
                <h3 id="loading_message">Loading Feature data into Metrics table...</h3>
                <div id="option_buttons" style="padding: 10px; margin-left: 20px;"></div>
                <div id="output"></div>
            </div>


        </div>

    </div>
{% endblock %}

