{% extends "core/base.html" %}
{% load compress %}
{% load leaflet_tags %}
{% block title %}GeoQ Project: {{ object.name }}{% endblock %}

{% block static_libraries %}
    {% leaflet_js %}

    <script type="text/javascript">
    function mapInit(map, bounds) {

        var extentStyle = {
            "weight":2,
            "color":"red",
            "opacity":.7,
            "fillColor": "orange",
            "fillOpacity": .2
        };

        //Get Polygon JOSN of each Job
        var job_list = {{ object.aois_envelope_by_job|safe|default:"[]" }};
        _.each(job_list,function(job){

           var job_layer = L.geoJson(job,
                {style: extentStyle,
                onEachFeature: function(feature, layer) {
                    if (feature && feature.properties && feature.properties.link) {
                        var name = "Open Job";
                        if (feature.properties.name) name = feature.properties.name;
                        var popupContent = "<a href='"+feature.properties.link+"'>"+name+"</a>";
                        layer.bindPopup(popupContent);
                    }
                }}
            );
            if (job_layer) job_layer.addTo(map);

        });

        //Build the extents and load that if above didn't work
        var aoi_extents = L.geoJson({{ object.aois_envelope.json|safe }},{style: extentStyle});
        if (!job_list || !job_list.length && aoi_extents) {
            aoi_extents.addTo(map);
        }

        // Map doesn't update without this delay.
        setTimeout(function(){
            try {
                //AOI is sometimes getting no bounds data, which causes error
                var test = aoi_extents.getBounds().getCenter();
                map.fitBounds(aoi_extents.getBounds());
            } catch(ex){
                log.error("aoi_extents not being passed in valid bounds");
            }
        }, 1);


        var drawnItems = new L.FeatureGroup();
		map.addLayer(drawnItems);


        //Bold any entries within tables
        $('.job_feature_list td').filter(function() {
          return $(this).text() != '0';
        }).css({fontWeight:'bold'});


    }
</script>

    {% compress css %}
    {% leaflet_css %}
    <link href="{{ STATIC_URL }}core/less/geoq.less" media="all" rel="stylesheet" type="text/less" />
{% endcompress %}
{% endblock %}

{% block container %}
    <div class="row-fluid container-narrow">

        <div class="projectlist">

            {% include 'core/_project_stat_list.html' %}

            <h3>
                <i class="icon-briefcase icon-1x pull-left list-icon"></i>
                <span class="title header">
                    <a href="{%url 'project-detail' object.id %}">{{ object.name }}</a>
                </span>
            </h3>

            <p class="body project-description">
                {{ object.description }}
            </p>

            <div class="row body" style="margin-top:25px">
                {% if 'core.add_job' in request.base_perms %}
                <div class="btn-group pull-right">
                    <a class="btn btn-mini" href="{{ object.get_update_url }}">
                        <b> Edit Project </b>
                    </a>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% if 'core.add_job' in request.base_perms %}
                        <li><a href="{% url 'job-create' %}?project={{ object.id }}">Add New Job</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                <div class="span6 thumbnail" id="map" style="height:260px; vertical-alignment:middle;">
                {% leaflet_map "map" creatediv=False%}
                </div>
                <div class="span5">
                    <table class="project_info_list">
                        <tr>
                            <th style="min-width: 100px"></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <b>Supervisor:</b>
                            </td>
                            <td>
                                None
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Created:</b>
                            </td>
                            <td>
                                {{ object.created_at }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Project Type:</b>
                            </td>
                            <td>
                                {{ object.project_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Private:</b>
                            </td>
                            <td>
                                {{ object.private }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Description:</b>
                            </td>
                            <td>
                                {{ object.description }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="row body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Jobs</a>
                    </li>
                </ul>
            </div>

            {% include "core/_object_list.html" with object_list=page_obj%}

        </div>

    </div>
{% endblock %}

