{% if 'maps.change_layer' or 'maps.delete_layer' in request.base_perms %}
<ul class="statlist pull-right">
    {% if 'maps.change_layer' in request.base_perms %}
    <li title="Edit this Layer">
        <i class="icon-edit"></i>
        <a href="{% url 'layer-update' object.id %}">Edit</a>
    </li>
    <li title="Export this Layer">
        <i class="icon-share"></i>
        <a data-toggle="modal" href="#exportModal">Export</a>
    </li>
    {% endif %}
    {% if 'maps.delete_layer' in request.base_perms %}
    <li title="Delete this Layer">
        <i class="icon-trash"></i>
        <a href="{% url 'layer-delete' object.id %}">Delete</a>
    </li>
    {% endif %}
</ul>


<div id="exportModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Export Layer</h4>
    </div>
    <div class="modal-body job_link_body">
        <div class="job_link_item">
        	<a href="{% url 'json-layer-export' %}" title="Export in JSON format" target="_new">
        	<img src="/static/images/icons/api_json.png"/>
        	<span>JSON Export</span></a>
        </div>
    </div>
</div>


{% endif %}
