{% if perms.maps.change_layer or perms.maps.delete_layer %}
<ul class="statlist pull-right">
    {% if perms.maps.change_layer %}
    <li title="Edit this Layer">
        <i class="icon-edit"></i>
        <a href="{% url 'layer-update' object.id %}">Edit</a>
    </li>
    <li title="Export this Layer">
        <i class="icon-share"></i>
        	<a href="{% url 'json-layer-export' object.id %}" title="Export in JSON format" target="_new">Export</a>
    </li>
    {% endif %}
    {% if perms.maps.delete_layer %}
    <li title="Delete this Layer">
        <i class="icon-trash"></i>
        <a href="{% url 'layer-delete' object.id %}">Delete</a>
    </li>
    {% endif %}
</ul>

{% endif %}
