{% extends "core/base.html" %}

{% block container %}

<div class="row-fluid container-narrow">

    <form id="import_form" action="create-json-layer" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset style="margin: 15px;">
            <legend>JSON File Import</legend>
            <span>Select an appropriate JSON file, assign a name, then select 'Import'. A JSON Layer will be created on the server using that file</span><br><br>
            <label for="title">Layer name: <input type="text" name="title" id="title"></label>
            <input type="file" id="jsonfile" name="jsonfile" accept="application/json">
        </fieldset>

        <input class="btn" type="submit" value="Import" data-role="button" />
        <input class="btn" type="button" value="Clear" onclick="$('#import_form')[0].reset();">
    </form>
</div>

     <script>
        document.getElementById('jsonfile').addEventListener('change', checkFile, false);

        function checkFile(e) {
            var file = e.target.files[0];
            var sFileName = file.name;
            var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();
            var iFileSize = file.size;
            var iConvert = (file.size / 10485760).toFixed(2);

            if (!(sFileExtension === "json") || iFileSize > 10485760) {
                txt = "File type : " + sFileExtension + "\n\n";
                txt += "Size: " + iConvert + " MB \n\n";
                txt += "Please make sure your file is in valid JSON format and less than 2 MB.\n\n";
                alert(txt);
            } else {
                var jsonIsValid = false;
                try {
                    var reader = new FileReader();
                    reader.onload = function(e){
                        jsonIsValid = checkJSON(e.target.result);
                        console.log(e.target.result);
                    };
                    reader.readAsText(file);
                } catch (exception){
                    alert(exception);
                }

                if (jsonIsValid != true) {
                    alert("bad JSON");
                }
            }
        }

        function checkJSON(jsonString) {
            try {
                var o = JSON.parse(jsonString);
                if (o && typeof o === "object" && o !== null) {
                    return true;
                }
            }
            catch (e) { }
            return false;
        }

    </script>
{% endblock %}