{% extends "core/base.html" %}

{% block container %}

<div class="row-fluid container-narrow">

    <form id="import_form" action="create-json-layer" role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset style="margin: 15px;">
            <legend>JSON File Import</legend>
            <span>Select an appropriate JSON file, assign a name, then select 'Import'. A JSON Layer will be created on the server using that file</span><br><br>
            <label for="title">Layer name: <input type="text" name="title" id="title"></label>
            <input type="file" id="jsonfile" name="jsonfile" accept="application/json">
        </fieldset>

        <input id="submitButton" class="btn" type="submit" value="Import" data-role="button" />
        <input class="btn" type="button" value="Clear" onclick="$('#import_form')[0].reset();">
    </form>
    <p id="invalidJSON" style="color:red; display:none"></p>
</div>

     <script>
        document.getElementById('jsonfile').addEventListener('change', checkFile, false);

        function checkFile(e) {
            document.getElementById("submitButton").disabled = true;
            var file = e.target.files[0];
            var sFileName = file.name;
            var sFileExtension = sFileName.split('.')[sFileName.split('.').length - 1].toLowerCase();

            if (!(sFileExtension === "json")) {
                document.getElementById("invalidJSON").innerHTML = "Incorrect File Type";
            	document.getElementById("invalidJSON").style.display = "block";
            } else {
                try {
                    var reader = new FileReader();
                    reader.onload = function(e){
                        var isValidJson = checkJSON(e.target.result);
                    };
                    reader.readAsText(file);
                } catch (exception){
                    alert(exception);
                }
            }
        }

        function checkJSON(jsonString) {
            try {
                var o = JSON.parse(jsonString);
                console.log(o);
                if (o && typeof o === "object" && o !== null) {
	                document.getElementById("submitButton").disabled = false;
	                document.getElementById("invalidJSON").style.display = "none";
	                return true;
	            } 
            }
            catch (e) { 
            	console.log(e);
            }
            document.getElementById("invalidJSON").innerHTML = "Invalid JSON"
            document.getElementById("invalidJSON").style.display = "block";
            return false;
        }

    </script>
{% endblock %}