{% extends "core/base.html" %}

{% block container %}

<script>
    var layer_list = [];
    var proxy_path = "{% url 'proxy' %}";

    function get_layers(server) {

        var url = server.currentTarget.value;

        if (!url || !_.str.startsWith(url,"http")) {
            log.error("Tried to follow a url to lookup layers, but doesn't look valid: "+url);
        }
        url = proxy_path + "/" + url;

        $.ajax({
            url: url,
            type: 'GET',
            global: false,
            crossDomain: true,
            dataType: 'json',
            xhrFields: {
                withCredentials: true
            },
            error: function(xhr,status,error) {
                log.error('unable to contact server');
            },
            success: function(data) {
                // remove everything from the current list
                var $tableBody = $('#layers tbody');
                $tableBody.empty();

                _.each(data.objects, function(layer,i){

                    var rowHtml = "<tr><td><div class=\"checkbox\"><label>" +
                        "<input type=\"checkbox\" id=\"" + i + "\" onclick=\"add_layer(this);\"></label></div></td>" +
                        "<td>" + layer.name + "</td>" +
                        "<td>" + layer.type + "</td>" +
                        "<td>" + layer.url + "</td>" +
                        "<td>" + layer.layer + "</td></tr>"

                        $tableBody.append(rowHtml);

                    var layerInfo = jQuery.extend({},layer);
                    layer_list[i] = layerInfo;
                });

            }
        });
    }

    function add_layer(checkbox) {
        var id = parseInt(checkbox.id);
        if (checkbox.checked) {
            $('<input>').attr({
                type: 'hidden',
                id: 'layer_' + checkbox.id,
                name: 'layer',
                value: JSON.stringify(layer_list[id])
            }).appendTo('#import_form');
        }
    }

    $(document).ready(function(){
        $('#servers').on('change',get_layers);
    });
</script>

<div class="row-fluid container-narrow">

    <form id="import_form" role="form" method="post" action="">
        {% csrf_token %}

        <div class="span12">
            <span class="list-view-header">Import Layers</span>
            <span><a class="btn btn-small pull-right" href="{% url 'json-layers' %}">Download Current Layers</a></span>
        </div>
        <br><br>
        <div class="form-group">
                <label for="servers">Servers</label>
                <select id="servers" name="servers">
                    <option selected="true">Select a Server</option>
                    {% for source in geoevents_sources %}
                    <option value="{{ source.url }}">{{ source.name }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
                <table id="layers" class="table">
                    <thead>
                    <tr>
                        <th>Import</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>URL</th>
                        <th>Layer</th>
                    </tr>
                    <tbody>
                    </tbody>
                    </thead>
                </table>
        </div>
        <input class="btn" type="submit" value="Import" data-role="button" />
    </form>
</div>
{% endblock %}
