{% extends "core/base.html" %}

{% block container %}

    <div class="row-fluid container-narrow">

        <div class="span12">
            <span class="list-view-header">Layers</span>
            {% if admin %}
            <div class="btn-group pull-right">
                <a class="btn btn-mini" href="{% url 'layer-create' %}">Add New</a>
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'create-kml-layer' %}">Import KML/KMZ</a></li>
                    <!-- <li><a href="{% url 'layer-import' %}">Import External Layer</a></li> -->
                    <li><a href="{% url 'create-json-layer' %}">Import JSON</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="row"><span class="span6"/></div>
        <div>

            {% include "maps/_object_list.html" %}

        </div>

    </div>
{% endblock %}
