{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<style>
    label {display: inline-block; font-weight: bold;}
    input[type="file"] {line-height: 1em;}
</style>

<form action="" enctype="multipart/form-data" method="post">
  <ul id="box-nav">
    <li class="first"><a href="{% url 'userena_profile_detail' profile.user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li class="selected"><a href="{% url 'userena_profile_edit' profile.user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' profile.user.username %}">{% trans "Change password" %}</a></li>
  </ul>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %} for {{ profile.user.username }}</legend>

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="id_first_name">First Name:</label>
        {{ form.first_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="id_last_name">Last Name:</label>
        {{ form.last_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">Your email:</label>
        {{ form.email }}
    </div>
{#    <div class="fieldWrapper">#}
{#        <label for="id_organization_myself">Organization:</label>#}
{#        {{ form.organization.value }}#}
{#    </div>#}
    <div class="fieldWrapper">
        {{ form.openbadge_id.errors }}
        <label for="id_openbadge_id">Mozilla Backpack login:</label>
        {{ form.openbadge_id }}
    </div>
    <div class="fieldWrapper">
        <label for="id_points_myself">Points:</label>
        {{ form.score.value }}
    </div>

    <div class="fieldWrapper">
        <label for="id_mugshot">Your Picture:</label><br/>
        {% if user.get_profile.get_mugshot_url %}
        <img src='{{ profile.user.get_profile.get_mugshot_url }}' /><br/>
        {% endif %}
        <input id="id_mugshot" name="mugshot" type="file"/>
    </div>
    <input id="id_score" name="score" type="hidden" value="{{ user.get_profile.score }}">
    <input id="id_privacy" name="privacy" type="hidden" value="{{ user.get_profile.privacy }}">
  </fieldset>

  <input type="submit" value="{% trans "Update user data" %}" />
</form>
{% endblock %}
