{% extends "core/base.html" %}
{% load i18n %}

{% load url from future %}

{% block title %}GeoQ: {% trans "Signup" %}{% endblock %}

{% block content %}
    {% if 'prevent_signups' in settings and 'true' in settings.prevent_signups  %}

<h1>Signups are currently disallowed by the administrator</h1>

    {% else %}

<script>
    $(document).ready(function(){
        if (site_settings && site_settings.user_agreement_text && site_settings.user_agreement_text.text) {
            var text = "<h1>Terms of Use</h1>"+site_settings.user_agreement_text.text;
            $('#user_agreement_text')
                .html(text)
                .css('display','block');
        }
    });
</script>

<div id="user_agreement_text" style="display: none"></div>
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Signup" %}</legend>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }}
    {{ field }}
    </p>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input type="submit" value="{% trans "Signup"%}" />
</form>

    {% endif %}

{% endblock %}