h4 {
    margin: 0px;
}
#map {
    position: relative;
    top: -20px;
    left: 0px;
    margin-left: 0px;
    cursor: crosshair;
}
div.alert {
  position: absolute;
  top: 100px;
  width: 300px;
  left: 50px;
  z-index: 1000;
}

.aoi-status {
    font-size: 18px;
}
#layer_info_drawer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    padding-top: 50px;
    margin-left: -300px;
}
.gray-header {
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

#filter_bar_drawer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    background-color: lightblue;
    padding-top: 50px;
    margin-left: -300px;
}

#aoi-status-box {
    max-height: 64px;
    cursor: pointer;
    overflow-y: hidden;
}

#tag_list_box {
    margin-bottom: 0;
    width: 78px;
    font-size: 10px;
    line-height: 14px;
    height: 14px;
    text-align: right;
}

form.leaflet-control-geocoder-form {
    margin: 0;
}
form.leaflet-control-geocoder-form > input[type="text"] {
    margin-bottom: 0;
}

div.leaflet-control-button.leaflet-control {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

div.leaflet-control-button.leaflet-control > div > h4 {
    background-color: transparent;
    border: solid black 1px;
    border-radius: 4px;
    padding: 6px;
}

#aoi-submit {
    background-color: hsl(203, 100%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009dff", endColorstr="#005e99");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#009dff), to(#005e99));
    background-image: -moz-linear-gradient(top, #009dff, #005e99);
    background-image: -ms-linear-gradient(top, #009dff, #005e99);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009dff), color-stop(100%, #005e99));
    background-image: -webkit-linear-gradient(top, #009dff, #005e99);
    background-image: -o-linear-gradient(top, #009dff, #005e99);
    background-image: linear-gradient(#009dff, #005e99);
    border-color: #005e99 #005e99 hsl(203, 100%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

ul.fancytree-container {
    max-width: 280px;
}

#drawer_tray_top {
}
.status_block {
    width: 130px;
    display: inline-block;
}
#drawer_tray_bottom {
    font-size: 10px;
}
.drawer_tray {
    border: 1px dotted gray;
}
.editable {
    color: blue;
}

.tight {
    width: 20;
}

#add_layer_button {
    margin-left: 23px;
}
.inner-padding {
    padding: 5px;
}

.scroll-link {
    font-size: .7em;
    max-height: 20px;
    overflow-x: scroll;
    display: inline-block;
    background-color: aliceblue;
}
.hide {
    display: none;
}
.linked-item {
    font-size: 10px;
    line-height: 1.1em;
    background-color: #eef;
    margin: 1px;
    border: solid black 1px;
    width: 120px;
    padding: 2px;
    border-radius: 5px;
    overflow: hidden;
}

#messages {
    font-size: 12px;
}

#message_scroll {
    height: 300px;
    overflow-y: scroll;
}

#button_row {
    padding-top: 10px;
}

#finish-workcell {
    padding-top: 10px;
    padding-bottom: 10px;
}

.popover {
    min-width: 200px ! important;
}

.dropdown-menu {
    top: 93%;
}

.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}


#roseHolder {
    text-align: center;
    font-weight: bold;
}
#roseHolder img {
    vertical-align: middle;
    padding-left: .25em;
}
#roseHolder span {
    cursor: pointer;
}
