# This is a basic workflow to help you get started with Actions

name: GeoQ CI -

    # Controls when the action will run. Triggers the workflow on push or pull request
    # events but only for the master branch
    on:
      push:
        branches: [ develop ]
    
    # A workflow run is made up of one or more jobs that can run sequentially or in parallel
    jobs:
      # This workflow contains a single job called "build"
      build:
        # The type of runner that the job will run on
        runs-on: [self-hosted]
        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
        
        - name: pre-repo 
          run: |
            cd geoq
            git fetch
            git checkout develop 
            git reset --hard origin/develop
            docker build .
            docker restart geoq_web_1

        
    